<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>chapter</title>
</head>
<body>
    {% extends "book/base.html" %}
    {% block content %}
    <p><a href="{% url 'book:book' book.id %}">回到目录</a></p>
    <p>
        Chapter: {{ chapter.name }}
    </p>
    <ul>
    {% for topic in topics %}
        <li>
            <a href="{% url 'book:topic' topic.id %}">{{ topic.topic }}</a>
        </li>
    {% empty %}
        <li>暂时没有内容</li>
    {% endfor %}

    </ul>
    <a href="{% url 'book:new_topic' chapter.id%}">提问/感想</a>
    {% endblock content%}
</body>
</html>